.item
{
	margin: 10px;
}

.item span
{
	padding: 2px 15px ;
	margin-right: 20px;
}

.item-complete
{
	text-decoration: line-through;
}


.item input 
{
	margin-right: 20px;
	background-color: #cddc39;
}

.low
{
	background-color: yellow;
}

.medium
{
	background-color:  orange
}

.high
{
	background-color:  red;
}